
#calc-container {
    display: flex;
    border: 2px solid black;
    width: 400px;
    height: 600px;
    flex-direction: column;
    background-color: #576F72;
    margin: 50px;
}

body {
    display: flex;
    justify-content: center;
    background-color: #F0EBE3;
}

#middle-part {
    flex: 2;
    display: flex;padding: 11;;
}

#display {
    flex: 0.7;
    background-color: #7D9D9C;
    margin: 13px;
    border-radius: 25px;
    border: 2px solid black;
    font-size: 54px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 15px;

}

button {
    border: 2px solid black;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    background-color: #E4DCCF;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}

#num-container {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    margin: 8px 11px;
}

#oper-container {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    margin: 8px 8px;
}

.numbers:active { 
    transform: scale(0.98); 
} 